<mat-card *ngFor="let course of courses" class="course-card mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>{{ course.description }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="course.iconUrl" />

  <mat-card-content>
    <p>{{ course.longDescription }}</p>
  </mat-card-content>

  <mat-card-actions class="course-actions">
    <!-- PATH VARIABLES -->
    <!-- passo il path al routerLink in maniera dinamica, prendendolo dal course, utilizzo le [] perchè potrei passare un array con più path child -->
    <!-- devo passare un relative path -->
    <!--  se volessi aggiungere più path alla rotta  principale li scrivo come elemento dell'array, ad esempio la rotta pricipale è localhost:4200/courses,
    passando i path tramite array ['pippo'] avrei localhost:4200/courses/pippo, oppure ['pippo', 'pluto'] avrei localhost:4200/courses/pippo/pluto -->
    <!-- dato che l'url è unico per ogni corso posso utizzarlo per renderizzare il corso che mi interessa, praticamente invece dell'id sto utilizzando proprietà  url del course-->
    <button
      mat-raised-button
      color="primary"
      [routerLink]="[course.url]"
      [queryParams]="{ couponCode: 'NEW_YEAR' }"
    >
      VIEW COURSE
    </button>

    <button
      mat-button
      mat-raised-button
      color="accent"
      (click)="editCourse(course)"
    >
      EDIT
    </button>
  </mat-card-actions>
</mat-card>
